@import "src/assets/scss/variables";

$font-size: 2rem;
$background-color: black;
$background-color-hover: darkgreen;
$color-text: white;
$block-border-radius: 1.6rem;

@keyframes appear {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.hello-world-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    margin-left: $gap * 2;
    padding: 2.4rem;
    border-radius: .8rem;
    border: unset;
    background-color: $background-color;
    color: white;
    font-size: $font-size;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .3s ease-in-out;

    &:hover {
         background-color: $background-color-hover;
    }
}

.hello-world-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 8rem 3.2rem;
}

.hello-world-block {
    text-align: center;
    width: calc(25% - 3 * $gap / 4);
    margin: 0 $gap $gap 0;
    padding: $gap;
    background-color: $background-color;
    border-radius: $block-border-radius;
    animation: appear .3s ease-in-out;

    &:nth-child(4n) {
        margin-right: unset;
    }
}

.hello-world-text {
    color: $color-text;
    font-size: 1.6rem;
}
